<div class="edit_user">
  <h2> Editing User</h2>
  
  <div class= "edit_form">

  <nav>
      <%= form_for @user do |f| %>
    <ul>
      <li><%= f.label :username %></li>
      <li><%= f.text_field :username, {placeholder: 'Username'} %> </li>
    </ul>
    <ul>
      <li><%= f.label :password %></li>
      <li><%= f.password_field :password, {placeholder: 'Password'} %> </li>
      </ul>
      <ul>
      <li><%= f.label :password_confirmation %></li>
      <li><%= f.password_field :password_confirmation, {placeholder: 'Confirm Password'} %></li>
 
      </ul>
        <li><%= f.label :fname %></li>
        <li><%= f.text_field :fname, {placeholder: 'First Name'} %></li> 
      <ul>
        <li><%= f.label :lname %></li>
        <li><%= f.text_field :lname, {placeholder: 'Last Name'} %></li> 
      </ul>
        <li><%= f.label :age %></li>
       <li><%= text_field_tag :age, nil, {placeholder: 'Years old'} %></li> 
      <ul>
       <li><%= f.label :location %></li>
       <li><%= f.text_field :location, {placeholder: 'Location'} %> </li>
      </ul>
      <ul>
       <li><%= f.submit :Submit %></li>
      </ul>
    <% end %>
  </nav><br>
  </div>
  <div class="setting">
  <%= link_to 'Back', user_path %><br>
    <% if current_user[:id]%>
      <%=link_to 'Delete', @user, method: :delete, data: {confirm: "You sure?"} %>
    <% end %>
  </div>
  
</div>




