
<div class = "new_user">
   
<div id = "profile_info">
   <div class = "user_name">
   <h3>
      <%= @user.fname%>
      <%= @user.lname%>
   </h3>
   </div>  

   <div class = "user_username">
      Username: 
     <%= @user.username %> 
   </div> 

   <br>

   <div class = "user_location">
      Location:
      <%= @user.location%>
   </div>

   <div class = "user_birthday">
     
      <%= @user.birthday%>
   </div>      
</div>
</div> 
<br>
<div id="recpost">
   <p>Recent Posts: </p>
   <div class="show_post">
      <% @user.posts.each do |p| %>
         <%= link_to p.posttitle, posts_path %>
      <%end%>
   </div><br>
   <div class="setting">
      <%= link_to 'Edit', edit_user_path(current_user)%>
      <% if current_user[:id]%>
         <%=link_to 'Delete Account', @user, method: :delete, data: {confirm: "You sure?"} %>
      <% end %>
   </div>
</div>
 