

   <div class = "user_name">
      <%= @user.fname%>
      <%= @user.lname%>
   </div>   
   <div class = "user_username">
      <%= @user.username %>
   </div> 

   <div class = "user_location">
      <%= @user.location%>
   </div>

   <div class = "user_birthday">
      <%= @user.birthday%>
   </div>      

<br>
   Recent Posts: <br>
   <% @user.posts.each do |p| %>
      <%= p.posttitle %>
      <%= p.posttext %>
   <%end%>

  