<div class = "Container">
   <img class= "pageim" src = "tahta_body.png">

  <div class="content">
    <h1> Post Index Page </h1>
    <h4>(For more use the scroll)</h4>
    <div class= "postscroll">
    <% @posts.reverse.each do |post| %>

    <h2> Title </h2>
    <p class= "posttitle"> <%=post.posttitle%> </p>
    <h2> Text </h2>
    <p class="posttext"> <%=post.posttext%> </p>
    <p class="posted"> Posted by <%=post.user.username%> @ <%=post.created_at %> "style= font-size </p>
    
    <br>

    <%= form_for @comment do |f| %>
    <h2> <%= f.label :Comment %> </h2>
    <%= f.text_field :commenttext %>
    <%= f.hidden_field :post_id, value: post.id %>
    <%= f.submit :create %>
    <% end %>
    
    <% post.comments.each do |c| %>
       <p> <%=c.commenttext%> </p>
     <% end %>
    <% end %>   
    
    </div> <!-- end of the postsscroll -->
  </div> <!-- end of content-->
</div> <!-- end of container -->