<div class = "Container">
   <img class= "pageim" src = "tahta_body.png">

  <div class="content">
    <h1> Post Index Page </h1>
    <h4>(For more use the scroll)</h4>

    <div class= "newpost">
  <%= form_for @post do |f| %>
  <%= f.label :Title %>
  <%= f.text_field :posttitle, {placeholder: 'Title'} %> <br>
  <%= f.label :Text %>
  <%= f.text_field :posttext, {placeholder: 'Enter your post'} %> <br>
  <%= f.submit :create %>
  <% end %>
</div>
<div class="postscroll">
  <% @posts.reverse.each do |post| %>

    <div class = "posttitle"> 
      <h2> <%=link_to post.posttitle, post_path(post.id)%> </h2>
    </div>

    <div class = "posttext">
    <h2> <%=post.posttext%> </h2>
    </div>


    <p> Posted by <%=post.user.username%> @ <%=post.created_at %>  </p>

    <div class= "comment">
  <%= form_for @comment do |f| %>
    <h3> <%= f.label :Comment %> </h3>

    <%= f.text_field :commenttext %>
    <%= f.hidden_field :post_id, value: post.id %>
    <%= f.submit :create %>
    <br><br>
    <% end %>
    </div>
    <div class="commentout">
    <% post.comments.each do |c| %>
       <p> <%=c.commenttext%> </p>
    <% end %>
    <hr>
  </div>
  <% end %>   
</div>

   
   
  </div> <!-- end of content-->
</div> <!-- end of container -->

