<h1> Post Index Page </h1>

<% @posts.reverse.each do |post| %>

   <h3> Title </h3>
  <p> <%=post.posttitle%> </p>
   <h3> Text </h3>
  <p> <%=post.posttext%> </p>
  <p> Posted by <%=post.user.username%> @ <%=post.created_at %>  </p>

    

<br>

<%= form_for @comment do |f| %>
  <h3> <%= f.label :Comment %> </h3>
  <%= f.text_field :commenttext %>
  <%= f.hidden_field :post_id, value: post.id %>
  <%= f.submit :create %>
  <% end %>
  
  <% post.comments.each do |c| %>
     <p> <%=c.commenttext%> </p>
   <% end %>
<% end %>   
