<!DOCTYPE html>
<html>
<head>
<link href='http://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
  <title>Railsblog</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  

<nav>
    <ul>
     <li><a href="#">Home</a></li>
     <li><a href="#">Profile</a></li> 
     <li><a href="#">Feed</a></li>
    <!--  <li><a href="#">Users</a></li> -->
    
     <li> 
          <div class="form_inputbutton">
          <% if current_user %>
          <%= link_to "Sign Out", '/logout', method: :delete %>
          </div>
        <% else %>
         <div class="small_form">
            <%= form_tag '/sessions' do %>
            <%= text_field_tag( :username, nil, placeholder: "Username", :class => "form_inputbox" ) %>
            <%= password_field_tag :password, nil, placeholder: "Password", :class => "form_inputbox" %>

              <div class="form_inputbutton"> 
              <%= submit_tag("Log In", class: "form_inputbutton") %> 
              </div>
             <% end %>
         </div>
         <% end %>
      </li></ul>
        
    <br><br>
</nav>

        <% if flash[:alert] %>
          <div class="flash" >
            <%= flash[:alert] %>
          </div>
        <% end %>

<%= yield %>



</body>
</html>
